@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --header-logo-lang: "Raleway", sans-serif;
  --main-lang: "Roboto", sans-serif;
  --main-text-color: #757575;
  --text-p: #212121;
}

body {
  font-family: var(--main-lang);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*Прибирає зайві паддінги в 4 hx*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.conteiner.portfolio {
  width: 1200px;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 60px 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*---header--*/
.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 32px;
  margin: auto;
}

.header .conteiner {
  display: flex;
}

.header-adress-icon {
  margin-right: 10px;
  fill: #757575;
  fill: currentColor;
}

.header-adress {
  margin-left: auto;
  align-items: center;
}

.adress-tel-header {
  margin-left: 50px;
}

.adress-mail-header,
.adress-tel-header {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-logo {
  display: flex;
  align-items: flex-end;
}

.navigation-adress {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  font-family: var(--header-logo-lang);
  align-items: stretch;
}

.navigation .current {
  color: #212121;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-family: var(--header-logo-lang);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
  align-items: baseline;
}

.navigation-link .logo-blue {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.navigation-link .logo-black {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation-item {
  font-family: var(--main-lang);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--text-p);
}

.navigation-item .current {
  color: var(--accent-color);
}

.navigation-item .current::after {
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 4px;
  display: block;
  content: "";
  background: var(--accent-color);
  border-radius: 2px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.modal-btn-header {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  padding: 10px 32px;
}

/* Це спеціально зроблено. Я знаю, що можно було в один клас, але мені
  так поки більш зрозуміло */
.li-class:focus,
.adress-mail-header:focus,
.adress-mail-header:hover,
.adress-tel-header:hover,
.adress-tel-header:focus,
.footer-adress-map:hover,
.footer-adress-map:focus,
.adress-tel-footer:hover,
.adress-tel-footer:focus,
.adress-mail-footer:hover,
.adress-mail-footer:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation-item.current:hover,
.navigation-item.current:focus {
  color: var(--accent-color);
}

/*---header end---*/
/* --main-section-- */
.section-main {
  padding-bottom: 94px;
}

@media screen and (max-width: 768px) {
  .section-main {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-foto {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../imagine/herofoto/imgfirstfoto@1x.jpg);
    background-color: black;
    background-size: 480px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero-foto {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../imagine/herofoto/imgfirstfoto@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-foto {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../imagine/herofoto/herofotabl.jpg);
    background-color: black;
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero-foto {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../imagine/herofoto/herofotabl@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-foto {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../imagine/herofoto/herofodesk.jpg);
    background-color: black;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-foto {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../imagine/herofoto/herofodesk@2x.jpg);
    background-size: cover;
  }
}

.section-hero {
  text-align: center;
  padding: 118px 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-h1 {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section-h1 {
    font-size: 44px;
    line-height: 1.363;
  }
}

.benefits-list-item::before {
  width: 100%;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-list-item.icon-antena::before {
  background-image: url(../../imagine/antenna1.svg);
}

.benefits-list-item.icon-clock::before {
  background-image: url(../../imagine/clock1.svg);
}

.benefits-list-item.icon-diagram::before {
  background-image: url(../../imagine/diagram1.svg);
}

.benefits-list-item.icon-astronaut::before {
  background-image: url(../../imagine/astronaut1.svg);
}

.benefits-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits-h2 {
  margin-bottom: 10px;
}

.benefits {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list-item {
    width: calc((100% - 4 * 15px) /2);
    margin: 15px;
  }
}

.benefits-h2 {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-p);
}

.benefits-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*what we doing*/
.what-we-doing-img {
  position: relative;
}

.desktop-app {
  position: absolute;
  bottom: 0;
  padding: 27px 53px;
  width: 370px;
  height: 70px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.what-we-doing-h2 {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  min-width: 376px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-doing-img:not(:last-child) {
  margin-right: 30px;
}

.what-we-doing-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .what-we-doing-section {
    display: none;
  }
}

.what-we-doing {
  display: block;
}

.what-we-doing-img-list {
  display: flex;
}

/*what we doing end*/
/*Team*/
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-p);
}

@media screen and (max-width: 768px) {
  .our-team {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-section {
  background: #f5f4fa;
  margin: auto;
}

.div-our-team {
  display: block;
}

.our-team-img {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .our-team-img {
    width: calc((100% - 4 * 15px)/2);
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .regular-client {
    padding-bottom: 0;
  }
}

.our-team-h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-p);
}

.our-team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.our-team-socil-item {
  display: block;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-socil-item:not(:last-child) {
  margin-right: 10px;
}

.link:hover .our-team-socil-item,
.link:focus .our-team-socil-item {
  fill: white;
}

.link {
  padding: 12px 12px;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  background-color: var(--accent-color);
}

.link:hover .our-team-socil-item, .link:focus .our-team-socil-item {
  fill: white;
}

.li-class {
  display: block;
  padding: 12px 12px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-img .our-team-socil-links {
  display: flex;
  padding: 0;
  list-style: none;
  margin-top: 16px;
  padding-bottom: 24px;
  justify-content: center;
}

/*team-end--*/
@media screen and (min-width: 480px) {
  .regular-client-logo {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .regular-client-link {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .regular-client-link {
    width: calc((100% - 6 * 15px)/3);
    margin: 15px;
  }
}

.regular-client-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;
  height: 90px;
  content: "";
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-img:focus, .regular-client-img:hover {
  border: 1px solid #2196f3;
  outline: none;
}

.regular-client-img:focus .svg-logo1, .regular-client-img:hover .svg-logo1 {
  fill: var(--accent-color);
}

.svg-logo1 {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/
.footer-adress-map {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress-mail-footer,
.adress-tel-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer {
  flex-grow: 1;
  background-color: #2f303a;
  margin: auto;
}

.footer .our-team-socil-item {
  fill: #ffffff;
}

.footer .li-class {
  background: rgba(255, 255, 255, 0.1);
}

.footer .li-class:hover, .footer .li-class:focus {
  background: var(--accent-color);
}

.footer-soc-link {
  display: inline-flex;
}

.logo-adress {
  text-align: center;
  padding-bottom: 60px;
}

.logo-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.appeal {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-link-b {
  text-align: center;
  padding-bottom: 60px;
}

.footer-appeal {
  text-align: center;
}

.social-item {
  display: flex;
  margin-top: 20px;
}

.footer-adress-map,
.adress-mail-footer,
.adress-tel-footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
  }
}

.footer-input {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}

.footer-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-button {
  padding: 0;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin-right: 10px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.litak {
  fill: #FFFFFF;
}

/*footer end*/
/* Portfolio */
.header-portfolio .navigation-item .current::after {
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 4px;
  display: block;
  content: "";
  background: var(--accent-color);
  border-radius: 2px;
}

.header-portfolio {
  position: relative;
  max-width: 1600px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: auto;
  border-bottom: 1px solid #ececec;
}

.portfolio-main {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: auto;
}

.portfolio-main-div {
  display: block;
}

.links-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.links-list-item {
  min-width: 73px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--text-p);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-list-item:hover, .links-list-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background: #2196f3;
}

.link-list-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-projects-fig {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-p);
  margin-bottom: 4px;
}

.portfolio-projects-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-projects {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-projects-li {
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-projects-li:nth-child(3n + 1) {
  margin-left: 0;
}

.portfolio-projects-li:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-projects-link {
  display: block;
  min-width: 370px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-link:hover, .portfolio-projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-projects-link:hover .portfolio-overlay, .portfolio-projects-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.border-link {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-overlay {
  position: absolute;
  transition: all 500ms linear;
  left: 0;
  top: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}

.div-for-overflow {
  position: relative;
  overflow: hidden;
}

.portfolio-projects-focus:nth-child(-n + 3) {
  margin-top: 0;
}

.portfolio-projects-focus:nth-child(3n + 1) {
  margin-left: 0;
}

.visiility {
  visibility: hidden;
}

a:visited.link-to-swith.studio {
  color: #2196f3;
}

a:visited.adress-mail-footer,
.adress-tel-footer {
  color: rgba(255, 255, 255, 0.6);
}

.link-to-swith {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-to-swith:hover, .link-to-swith:focus {
  color: var(--accent-color);
}

/* --модальне вікно-- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modalka {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modalka {
  transform: translate(-50%, -50%) scale(0.5);
}

.modalka-btn {
  padding: 0;
  margin-top: 8px;
  margin-left: 490px;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modalka-btn:focus, .modalka-btn:hover > .close-svg {
  fill: var(--accent-color);
}

.close-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 448px;
  display: block;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.form-title {
  font-family: var(--main-lang);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-item {
  font-family: var(--main-lang);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field-textarea textarea {
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
}

.form-field-textarea textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field-textarea textarea::placeholder {
  font-family: var(--main-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-chekbox a {
  font-family: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196F3;
}

.form-item-consent-p {
  font-family: var(--main-lang);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-chekbox {
  width: 423px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

span {
  padding: 0;
  margin: 0;
}

.svg-logo {
  position: absolute;
  top: 32px;
  left: 15px;
  padding: 0;
  margin: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input:focus + .svg-logo {
  fill: var(--accent-color);
}

/* .visually-hidden ховаю чекбокс*/
.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(/imagine/galka.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */