/*---header--*/

  .header {
    position: relative;
    @media screen and (min-width: 1200px){
      // padding-top: 25px;
      // padding-bottom: 32px;
      margin: auto;
      width: 1200px;
       & .container {
        display: flex;
        
      }
    }
   
  }
  .header-burger-menu{
    display: inline-flex;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    @media screen and (min-width: 481px){
      display: none;
    }
    
  }
  .header-burger-menu .icon-close{
    display: none;
  }

  .header-burger-menu.is-open .icon-close{
    display: block;
    
  }

  .header-burger-menu.is-open .icon-menu{
    display: none;
  }
  .header-mobile-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-top: 1px solid #ECECEC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header-adress-icon {
    margin-right: 10px;
    fill: #757575;
    fill: currentColor;
    @media screen and (max-width: 1199px){
      margin-right: 8px;
    }
  }
  
  .header-adress {
    margin-left: auto;
  @media screen and (max-width: 767px){
      display: none;
      }
    
  }

  .header-mobile-menu{
   display: none;
   &.is-open{
     display: block;
   }

  }
  // .adress-tel-header {
  //   margin-left: 50px;
  // }
  .adress-mail-header,
  .adress-tel-header {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-adress-logo {
    // display: flex;
    align-items: flex-end;
  }
  
  .header-adress-logo {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 1199px){
      display: block;
    }
    
  }
  .navigation-adress {
    display: flex;
    // align-items: center;
    padding: 16px 15px;
    @media screen and (min-width: 768px){
    padding: 26px 15px;
    display: flex;
  }
    @media screen and (min-width: 1200px){
    align-items: baseline;
    }
    @media screen and (max-width: 480px){
      justify-content: space-between;
    }
    }
    
  .navigation {
    display: flex;
    font-family: var(--header-logo-lang);
    align-items: stretch;
    .current {
      color: #212121;
    }
  }
  .navigation-menu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px){
    display: none;
    }
    

  }
  .adress-mail-header,
.adress-tel-header {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  @media screen and (max-width: 1199px){
    font-size: 12px;
  line-height: 1.167;
  }
}
.adress-mail-header{
  @media screen and (max-width: 480px){
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.142;
    justify-content: center;
    font-size: 18px;
  line-height: 1.166;
  }
  @media screen and (max-width: 1199px){
    margin-bottom: 10px;
   
  }
  }
  .adress-tel-header{
    @media screen and (max-width: 480px){
      font-size: 14px;
      line-height: 1.142;
      justify-content: center;
      font-size: 18px;
      line-height: 1.166;
    }
    @media screen and (min-width: 1200px){
      margin-left: 30px;
    }
  }
  
.links-list-item {
  font-family: "Roboto", sans-serif;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  border: 0;
  cursor: pointer;
}
   
  .navigation-link {
    font-family: var(--header-logo-lang);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-right: 93px;
    align-items: baseline;
  @media screen and (max-width: 1199px){
    margin-right: 88px;
    }

   .logo-blue {
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196f3;
    @media screen and (max-width: 1199px){
    font-size: 24px;
    line-height: 1.167;
      }
  }
    .logo-black {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    @media screen and (max-width: 1199px){
    font-size: 24px;
    line-height: 1.167;
        }
  }
 }
  .navigation-item {
    font-family: var(--main-lang);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--text-p);
     .current {
     color: var(--accent-color);
      &::after {
      position: absolute;
      bottom: 0;
      width: 48px;
      height: 4px;
      display: block;
      content: "";
      background: var(--accent-color);
      border-radius: 2px;
      @media screen and (max-width: 480px){
        width: 61px;
        bottom: -18px;
        left: 180px;
      }
    }
   
   }
  &:not(:last-child) {
      margin-right: 50px;
      @media screen and (max-width: 480px){
        margin-right: 0;
        
        
      }
    }
  @media screen and (max-width: 480px){
    font-size: 18px;
    line-height: 1.166; 
    position: relative;
    
    
  }
}
.studio{
  margin-bottom: 48px;
  }
.portfolio{
  margin-bottom: 40px;
}
.header-mobile-menu-list{
  padding-bottom: 60px;

}
  
  .modal-btn-header {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    min-width: 200px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    padding: 10px 32px;
  }
  
  /* Це спеціально зроблено. Я знаю, що можно було в один клас, але мені
  так поки більш зрозуміло */
  .li-class:focus,
  .adress-mail-header:focus,
  .adress-mail-header:hover,
  .adress-tel-header:hover,
  .adress-tel-header:focus,
  .footer-adress-map:hover,
  .footer-adress-map:focus,
  .adress-tel-footer:hover,
  .adress-tel-footer:focus,
  .adress-mail-footer:hover,
  .adress-mail-footer:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .navigation-item.current:hover,
  .navigation-item.current:focus {
    color: var(--accent-color);
  }
  
  /*---header end---*/