/*---header--*/

  .header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 32px;
    margin: auto;
     & .conteiner {
      display: flex;
    }
  }


  .header-adress-icon {
    margin-right: 10px;
    fill: #757575;
    fill: currentColor;
  }
  
  .header-adress {
    margin-left: auto;
    align-items: center;
  }
  .adress-tel-header {
    margin-left: 50px;
  }
  .adress-mail-header,
  .adress-tel-header {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-adress-logo {
    display: flex;
    align-items: flex-end;
  }
  .navigation-adress {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    font-family: var(--header-logo-lang);
    align-items: stretch;
    .current {
      color: #212121;
    }
  }
  .navigation-menu {
    display: flex;
    align-items: center;
  }
   
  .navigation-link {
    font-family: var(--header-logo-lang);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-right: 93px;
    align-items: baseline;

   .logo-blue {
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
    .logo-black {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
  }
 }
  .navigation-item {
    font-family: var(--main-lang);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--text-p);
     .current {
     color: var(--accent-color);
      &::after {
      position: absolute;
      bottom: 0;
      width: 48px;
      height: 4px;
      display: block;
      content: "";
      background: var(--accent-color);
      border-radius: 2px;
    }
   }
  &:not(:last-child) {
      margin-right: 50px;
    }
  
}
  
  .modal-btn-header {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    min-width: 200px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    padding: 10px 32px;
  }
  
  /* Це спеціально зроблено. Я знаю, що можно було в один клас, але мені
  так поки більш зрозуміло */
  .li-class:focus,
  .adress-mail-header:focus,
  .adress-mail-header:hover,
  .adress-tel-header:hover,
  .adress-tel-header:focus,
  .footer-adress-map:hover,
  .footer-adress-map:focus,
  .adress-tel-footer:hover,
  .adress-tel-footer:focus,
  .adress-mail-footer:hover,
  .adress-mail-footer:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .navigation-item.current:hover,
  .navigation-item.current:focus {
    color: var(--accent-color);
  }
  
  /*---header end---*/