
@media screen and (min-width: 320px) and (max-width: 767px){
    .hero-foto {
        background-position: center top;
        background-repeat: no-repeat;
          background-size: cover;
          max-width: 1600px;
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)
            ),
            url(../imagine/herofoto/imgfirstfoto@1x.jpg);
            background-color: black;
            // background-size: 480px 400px;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 2dppx)  and (min-width: 320px) and (max-width: 767px) {
    .hero-foto {
        background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagine/herofoto/imgfirstfoto@2x.jpg);
    background-size: cover;

    }
 }
 
@media screen and (min-width: 768px) and (max-width: 1199px){
    .hero-foto {
        background-position: center top;
        background-repeat: no-repeat;
          background-size: cover;
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)
            ),
            url(../imagine/herofoto/herofotabl.jpg);
            background-color: black;
            // background-size: 768px 400px;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx)  and (min-width: 768px) and (max-width: 1199px) {
    .hero-foto {
        background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagine/herofoto/herofotabl@2x.jpg);
    

    }
 }

 @media screen and (min-width: 1200px) {
  .hero-foto {
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
  to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
   ),
  url(../imagine/herofoto/herofodesk.jpg);
  background-color: black;
 }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx)  and (min-width: 1200px) {
    .hero-foto {
        background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagine/herofoto/herofodesk@2x.jpg);
    background-size: cover;
    }
 }

.section-hero {
  text-align: center;
  // padding: 118px 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @media screen and (min-width: 480px) and (max-width: 767px) {
  padding: 118px 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px){
    padding: 118px 204px;
    }
  @media screen and (min-width: 1200px) and (max-width: 1599px){
    padding: 200px 215px;
    }
  @media screen and (min-width: 1600px) {
    padding: 200px 452px;
    }
}

.section-h1 {
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.363;
    }
    
  }
  



// /*---section-hero end---*/
