:root {
    --accent-color: #2196f3;
    --header-logo-lang: "Raleway", sans-serif;
    --main-lang: "Roboto", sans-serif;
    --main-text-color: #757575;
    --text-p: #212121;
  }
  body {
    font-family: var(--main-lang);
  }